.navbar-inverse {
    background-image: linear-gradient(45deg, rgb(0, 219, 222), rgb(252, 0, 255));
    border-color:#ffffff;
}
    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }
    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #000000;
    }
/*Course layout*/
.course{
    list-style:none;
}
.course > li{
    position:relative;
    margin-bottom:30px;
}
.course > li .date{
    text-align:center;
    background-color:#ff6a00;
    color:white;
    width:60px;
    border-radius:8px;
}
.course > li .details{
    position:absolute;
    top:0;
    left:70px;
}

.course > li .action{
    display:none;
    left:70px;
    position:absolute;
}
.course >li:hover .action{
    display:block;
}